<%- include("partials/header") -%>
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users/logout"><i class="fas fa-sign-in-alt"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container register">
    <br>
    <%- include("partials/messages") -%>
    <br>
    <form method="post" class="form" action=<%= `/events/event/${eventURI}/participants` %>>
        <div class="card registration">
            <div class="card-header card-header-info text-center">
                <h4><i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <br>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" name="firstName" class="form-control" placeholder="First Name..." required />
                </div>
                <br>
                <div class="input-group">
                    <input type="text" name="lastName" class="form-control" placeholder="Last Name..." required />
                </div>
                <br>
                <div class="input-group">
                    <input type="email" class="form-control" name="email" placeholder="Email..." required />
                </div>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" name="contact" placeholder="Contact..." required />
                </div>
                <input type="hidden" name="eventName" value="<%= eventName %>">
                <br>
                <input class="btn btn-info btn-lg" type="submit" value="Submit" />
                <br>
            </div>
        </div>
    </form>
</div>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
<%- include("partials/footer") -%>