<%- include("partials/header") -%>
<div class="container">
    <h2>
        Welcome, Admin!
    </h2>
    <br />
    <%- include("partials/messages") -%>
    <br>
    <h5 class="text-left">
        Events
    </h5>
    <table class="table table-hover text-center">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% if(events !== undefined && events.length>0){ %> <% let id=1; %>
            <% events.forEach(event=>{ %>
            <tr>
                <th scope="row">
                    <%= id %>
                </th>
                <td><a href=<%= `/events/event/${event.eventURI}` %>>
                        <%= event.name %></a></td>
                <td>
                    <%= event.desc %>
                </td>
                <td>
                    <%= event.date %>
                </td>
                <td>
                    <form method="post" action=<%= `/events/event/${event.eventURI}` %>>
                        <input type="hidden" name="eventName" value="<%= event.name %>">
                        <button name="action" value="delete" type="submit" class="btn btn-sm btn-link text-danger"><i
                                class="far fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
            <% id++;}) %>
            <% }else { %>
            <tr>
                <td colspan="5">
                    <h5 class="text-muted">No Events!</h5>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <a class="btn btn-lg btn-primary" href="/events/add">Add Event</a>
</div>
<%- include("partials/footer") -%>