<%- include("partials/header") -%>
<div class="container">
    <h3>
        Welcome, Admin!
    </h3>
    <br />
    <h4>
        Events
    </h4>
    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th scope="col">Event Date</th>
            </tr>
        </thead>
        <tbody>
            <% if(events !== undefined){ %> <% let id=1; %>
            <% events.forEach(event=>{ %>
            <tr>
                <th scope="row"><%= id %></th>
                <td><a href=<%= `/events/event/${event.name}` %>><%= event.name %></a></td>
                <td><%= event.date %></td>
            </tr>
            <% id++;}) %> <% }else { %>
            <tr>
                <td colspan="3"><h5>No Events!</h5></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <a href="/events/add" class="btn btn-lg btn-primary"
        >Add Event</a
    >
</div>
<%- include("partials/header") -%>
