<%- include("partials/header") -%>
<h3>
    Welcome, Co-ordinator!
</h3>
<br />
<h4>
    Event Details:
</h4>
<br />
<% if(events !== undefined){ %>
<% events.forEach(event=>{ %>
<div class="card">
    <h5 class="card-header card-header-rose"><b><%= event.name %></b></h5>
    <div class="card-body">
        <p class="card-text">
            <h5>
                Date: <%= event.date %>
            </h5>
            <h5>
                <b>Description</b>: <%= event.description %>
            </h5>
        </p>
    </div>
</div>
<% }) %>
<% }else{ %>
    <h5>No Events!</h5>
<% } %>
</div>
<%- include("partials/footer") -%>