<%- include("partials/header") -%>
<div class="container">
    <h3>
        Event Details:
    </h3>
    <br />
    <% if(event !== undefined){ %>
    <div class="card">
        <h5 class="card-header card-header-rose"><b><%= event.name %></b></h5>
        <div class="card-body">
            <p class="card-text">
                <h5>
                    <b>Date:</b> <%= event.date %>
                </h5>
                <h5>
                    <b>Description:</b> <%= event.description %>
                </h5>
            </p>
        </div>
    </div>
    <% } %>
    <div>
        <h3>
            Registrar:
            <a class="btn btn-sm" href=<%=` /events/event/${eventURI}/registrars` %>>Add Registrar</a>
        </h3>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Registrar Name</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            <% if(registrars !== undefined){ %> <% let id=1; %>
            <% registrars.forEach(registrar=>{ %>
            <tr>
                <th scope="row"><%= id %></th>
                <td><%= registrar.firstName %> <%= registrar.lastName %></td>
                <td><%= registrar.username %></td>
            </tr>
            <% id++;}) %> <% }else { %>
            <tr>
                <td colspan="3"><h5>No registrars!</h5></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <div>
        <h3>
            Participants:
        </h3>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
            </tr>
        </thead>
        <tbody>
            <% if(participants !== undefined){ %> <% let id=1; %>
            <% participants.forEach(participant=>{ %>
            <tr>
                <th scope="row"><%= id %></th>
                <td><%= participant.firstName %> <%= participant.lastName %></td>
                <td><%= participant.email %></td>
                <td><%= participant.contact %></td>
            </tr>
            <% id++;}) %> <% }else { %>
            <tr>
                <td colspan="4"><h5>No registrars!</h5></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<%- include("partials/footer") -%>